#form_content {
	position: relative;
}

#ticket  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #778495;
}

#ticket div:first-child {
	width: 37.5%;
}

#ticket div:last-child {
	width: 57.5%;
}

#ticket > div {
	display: flex;
	flex-direction: column;
}

#ticket > div > * {
	width: 100%;
}

#ticket > div > input  {
	margin-bottom: 20px;
	height: 30px !important;
	border: 1px solid #778495;
	flex-shrink: 0;
}

.required {
	border: 1px solid #e1550a !important;
	margin-bottom: 20px;	
}

.required2 {
	color: #e1550a;
}

#add_problem {
	height: 100%;
	box-sizing: border-box;
}

#rcheck {
	display: none !important;
}

#ticket > div > #go {
	height: 57px !important;
	font-size: 20px;
	color: white;
	background: #778495;
	cursor: pointer;
	flex-shrink: 0 !important;
}
#ticket > div > #go:hover {
	background: white;
	color: #778495;
}

#ts_load {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background: rgba(255,255,255,0.9);
	align-items: center;
	justify-content: center;
	align-items: center;
}

.answers {
	width: 100%;
	margin: 0 !important;
	box-sizing: border-box !important;
	border-collapse: separate !important;
	border-spacing: 0 !important;
	padding: 0px 0px !important;
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
	color: black !important;
	line-height: 1.5 !important;
	display: none;
}
.answers * {
	box-sizing: border-box !important;
	width: 100% !important;
}
.answers td {
	padding: 10px 10px !important;
	border: none !important;
	background: #eee !important;
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
	width: 100% !important;
}

.admin td {
	background-color: rgba(255, 255, 255, 1.0) !important;
}


/* Thanks to css-spinners.com */
@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 8px solid #3498db;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 60px;
  height: 60px;
}
